.span3
  grid-column: span 3
.relayCard
  &:hover
    cursor: pointer
  .section
    padding: 10px 12px
  .device
    display: grid
    gap: 8px
  .deviceTop
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 10px

  .deviceName h4
    margin: 0 0 2px
    color: #fff
    font-size: 14px

  .deviceName p
    margin: 0
    color: var(--muted)
    font-size: 11px
  .chips
    display: flex
    flex-wrap: nowrap
    gap: 6px
    justify-content: space-between
    width: 100%
  .icon
    width: 23px
    height: 23px
  .state
    display: flex
    gap: 6px
  .manual
    justify-content: flex-end

@media (max-width: 900px)
  .relayCard
    .section
      padding: 0px 12px 10px 12px
