@import "app/styles/variables"

.systemSettings
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px)
  .body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: calc(100dvh - 80px - 25px)
  .icon
    padding: 40px 0
    width: 50%
    height: 400px
  .input
    width: 90%
    input
      width: 100%
