@import "app/styles/variables"

.settingsWrapper
  position: fixed
  inset: 0
  z-index: 100
  background-color: #060b18
  color: white
  width: 100.2%
  height: 100vh
  overflow-x: hidden
  overflow-y: auto

.blur
  position: fixed
  display: block
  width: 101%
  height: 100%
  overflow: hidden
  z-index: 0
  &::after
    content: ""
    position: absolute
    right: -80%
    top: 30%
    width: 150%
    height: 90%
    border-radius: 50%
    border: 1px solid black
    filter: blur(50px)

.temp
  .blur
    &::after
      background-color: $widget-blur-violet

.argb
  .blur
    &::after
      background: $widget-blur-rgb2

.pump
  .blur
    &::after
      background-color: $widget-blur-green

.server
  .blur
    &::after
      background-color: $widget-blur-white

.system
  .blur
    &::after
      background-color: $widget-blur-white

.light
  .blur
    &::after
      background-color: $widget-blur-red

.co2
  .blur
    &::after
      background-color: $widget-blur-yellow

.o2
  .blur
    &::after
      background-color: $widget-blur-blue

.filter
  .blur
    &::after
      background-color: $widget-blur-tiffany

.button,
.otherButton
  width: 44px
  height: 44px
  border-radius: 50%
  backdrop-filter: blur(20px)
  background-color: rgb(37 37 37 / 55%)
  border: 1px solid rgb(67 67 67 / 55%)
  padding: 4px
  display: flex
  justify-content: center
  align-items: center
  -webkit-tap-highlight-color: transparent
  -webkit-user-select: none
  -webkit-touch-callout: none
  svg
    stroke: white
    width: 100%
    height: 100%
    margin: 0

.header
  position: fixed
  width: 100%
  left: 0
  top: 0
  padding: 20px
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 1000
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(6, 11, 24, 1))
  &::before 
    content: ''
    position: absolute
    inset: 0
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
    -webkit-mask-repeat: no-repeat
    -webkit-mask-size: 100% 100%
    z-index: -1

.content
  padding: 84px 20px 20px 20px
  width: 100%
  position: relative
  padding-bottom: env(safe-area-inset-bottom)

.title
  font-size: 17px
  line-height: 22px
  font-weight: 500
  margin: 0

.otherButton
  width: 44px
  height: 44px
  padding: 12px
  background-color: rgb(225 173 2 / 100%)
  border-color: #fef128

  &:hover
    border-color: #fef128
  svg
    fill: #faf554
