@import '../../main.sass'

body
    // background-color: var(--main-bg-color)

.app-container
    // display: flex
    // justify-content: space-between
    // align-items: center
    width: 70%
    // min-height: 100%
    margin: 0 auto

.app
    width: 100%
    // height: 100vh

.fan
    animation: 2s linear 0s infinite normal cool

.heat
    animation: 1s ease-in-out 0s infinite alternate-reverse heat

@keyframes cool
    from
        transform: rotate(0)
    to
        transform: rotate(360deg)

@keyframes heat
    from
        transform: scale(0.8)
    to
        transform: scale(1)

.card
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    width: 250px
    height: 250px
    margin: 10px 30px
    background-color: #222
    border-radius: 10px