@import "../../../variables"

.edit
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  input
    background-color: $widget-bgc

.edit
  .edit_icon
    margin-right: 50px
    width: 140px
    height: 430px
    @media (max-width: 780px)
      margin-right: 40px
      width: 150px
      height: 430px

.wrapper
  @media (max-width: 780px)
    padding: 60px 30px 30px 30px

.buttons
  display: flex
  align-items: center
  justify-content: center
  margin-top: 30px
  button
    &:not(:last-child)
      margin-right: 20px

.icon
  height: 120px
  margin-right: 30px

.icon_wrapper
  height: 100%
  display: flex
  align-items: center

.toggle
  margin-top: 40px
  flex-shrink: 0

.left
  padding-top: 5px
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
.right
  display: flex
  justify-content: center
  align-items: center
  z-index: 1

.text_wrapper
  padding: 15px 30px
  background-color: $widget-text-wrapper-bgc
  opacity: 90%
  border-radius: 20px
  &:not(:last-child)
    margin-bottom: 10px

.text_header
  margin: 0
  color: $widget-text-header
  font-size: 12px

.edit_text_header
  margin: 0
  color: $widget-text
  font-size: 16px
  margin-bottom: 10px

.text
  margin: 0
  color: white
  font-size: 22px
  font-weight: bold

.co2
  &__form
    padding-right: 30px
    display: flex
    justify-content: space-between
  &__label
    margin-right: 20px
  &__input
    display: flex
    flex-direction: column

.agree
  font-weight: bold
  color: white
  margin: 10px 0
  width: 300px

.cool
  margin-top: 10px
  width: 80px
  height: 80px

.heat
  margin-top: 10px
  width: 80px
  height: 80px

.cool_animation
  animation: 2s linear 0s infinite normal coolan

.heat_animation
  animation: 1s ease-in-out 0s infinite alternate-reverse heatan

@keyframes coolan
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)

@keyframes heatan
  from
    transform: scale(0.9)
  to
    transform: scale(1)
