@import "../../../variables"
.widget_wrapper
  width: 350px
  height: 300px
.wrapper
  width: 500px
  height: 100%
  @media (max-width: 780px)
    width: 400px
    height: 100%
    padding: 60px 30px 30px 30px

.edit
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  input
    background-color: $widget-bgc

.edit_wrapper
  width: 200px
  height: 100%
  flex-shrink: 0

.edit
  width: 100%
  height: 100%
  .edit_icon
    margin-left: 40px
    width: 70px
    height: 100%
    align-self: center
    @media (max-width: 780px)
      margin-left: 20px
      width: 70px
      height: 100%

.buttons
  width: 100%
  display: flex
  align-items: flex-end
  justify-content: space-between
  margin-top: 30px
  button
    width: 150px
    svg
      stroke: white
      color: white

.icon
  width: 40px
  margin-right: 10px

.icon_wrapper
  height: 100%
  display: flex
  align-items: center

.toggle
  // margin-top: 40px
  flex-shrink: 0

.left
  padding-top: 5px
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
.right
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 1
  height: 100%
.edit_right
  display: flex
  justify-content: space-between
  align-items: flex-start
  z-index: 1
  height: 100%
  width: 100%

.text_wrapper
  padding: 15px 30px
  background-color: $widget-text-wrapper-bgc
  opacity: 90%
  border-radius: 20px
  &:not(:last-child)
    margin-bottom: 10px

.text_header
  margin: 0
  color: $widget-text-header
  font-size: 12px

.edit_text_header
  margin: 0
  color: $widget-text
  font-size: 16px
  margin-bottom: 10px

.text
  margin: 0
  color: white
  font-size: 22px
  font-weight: bold

.agree
  font-weight: bold
  color: white
  margin: 10px 0
  width: 300px