.header
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 10px
  position: fixed
  top: 0
  color: white
  background-color: #1a1a1a
  z-index: 1000
  width: 100%
  height: 50px
  overflow: hidden
  @media (max-width: 780px)
    position: absolute
    height: 80px
    width: 100%
    justify-content: space-around
    align-items: flex-start
    // bottom: 0px
    // margin: 0px
    // padding: 0px
    // padding: 10px
    // justify-content: space-around
    // align-items: flex-start
    // height: 80px
    // border-top: 1px solid var(--border-primary)
    // order: 1

  .header_button_text
    @media (max-width: 780px)
      font-size: 14px
      line-height: 20px

.header_icon
  width: 20px
  height: 20px

.title
  font-size: 20px
  margin: 0
  display: block
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  margin-right: 20px
  @media (max-width: 780px)
    display: none

.logo
  width: 30px
  height: 30px
  margin-right: 10px
  @media (max-width: 780px)
    display: none

.link
  color: var(--fg-tertiary)
  font-weight: 600
  text-decoration: none
  margin-right: 10px
  padding: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  -webkit-tap-highlight-color: transparent
  &:hover
    color: var(--fg-secondary_hover)
  svg
    display: none
    margin: 0
  @media (max-width: 780px)
    margin: 0
    svg
      display: block

.active
  color: #3d88f5
  &:hover
    color: #3d88f5
