@import './variables.sass'

.app
  background-color: var(--bg-primary)

  min-height: 100vh

.header
  display: block
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 10px
  margin: 0

  color: white
  background-color: #15192e

.title
  font-size: 20px
  margin: 0
  display: block
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  margin-right: 20px

.logo
  width: 30px
  height: 30px
  margin-right: 10px

.container
  padding: 20px

.log-container
  color: white
  width: 500px
  height: 500px
  overflow: auto
  display: flex
  align-items: center

.log
  margin: 0

.log-header
  display: flex
  align-items: center

.log-title
  color: white
  margin: 0 40px 0 0

.modal
  margin: 10px

.spinner-container
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.spinner
  justify-self: center
  color: white
  width: 40px
  height: 40px

.graph
  margin: 0 auto
  // background-color: gray
  border: 1px solid gray
  // height: 400px
  // width: 1000px
